@font-face {
    font-family: "Comfortaa-Regular";
    src: url(static/Comfortaa-Regular.ttf)
}

.Comfortaa {
    font-family: "Comfortaa-Regular";
    font-weight: 400;
    font-style: normal;
}

.Comfortaa-Style {
    font-family: "Comfortaa-Regular", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
}

.cabecalho {
    width: 100%;
    height: 120px;
    background-color: #2f3540;
}

.logo {
    display: flex;
    margin-top: 1%;
    width: 20%;
    height: 150px;
}

.sub-cabecalho {
    margin-left: 100px;
}

.sub-cabecalho ul {
    display: flex;
    list-style: none;

}

.sub-cabecalho ul li {
    width: 140px;
    padding-right: 40px;
    padding-bottom: 20px;
    color: #fff;
    

}

.sub-cabecalho ul li a{
    text-decoration: none;
    color: #fff;
}

.linha {
    align-content: flex-end;
    margin-left: 300px;
    margin-right: 50px;
    color: white;
}

.cor-branco {
    color: white;
}

.search-box {
    position: absolute;
    top: 10%;
    right: 43%;

    background-color: white;
    height: 40px;
    width: 300px;
    border-radius: 40px;

    display: flex;
    justify-content: space-around;

}

.seach-text {
    background-color: #fff;
    border: 0;
    border-color: #fff;
    width: 200px;
    height: 29px;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#marcas {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.marcas1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.dish-heart {
    position: absolute;
    background-color: var(--color-primary-6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-description {
    color: #434343;
    text-align: center;
    margin-top: 20px;
}

.dish-rate i {
    color: var(--color-primary-6);
}

.preco {
    display: flex;
    align-items: center;
    gap: 20px;
}

:root {
    --color-primary-6: #2F3540;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 28px 8%;
}
footer {
    background-color: #2f3540;
    height: 280px;
}

.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    margin-top: 20px;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}

.logo-1{
    display: flex;
    margin-top: 1%;
    width: 20%;
    height: 250px;
}